.list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.done{
    text-decoration: line-through;
}

.input-item{
    margin-right: 1rem;
}

.button-item{
    background-color: rgba(0, 255, 255, 0.37);
    border-radius: 50%;
    color: white;
    border: none;
}